/* Login.css */

.login-page {
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ddb3e1, #651f7b);
  font-family: 'Inter', sans-serif;
}

.login-card {
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-card label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: block;
  color: #444;
}

.login-card input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
  transition: border 0.2s;
}

.login-card input:focus {
  border-color: #007bff;
}

.login-card button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #bc289c;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card button:hover {
  background-color: #5a0654;
}

.login-card .secondary-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #897c7c;
  margin-top: 0.5rem;
}

.login-card .secondary-btn:hover {
  background-color: #f5f5f5;
}
